<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>375ADC741D3B8114008C5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375ADC881D3B8114008C5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375ADC931D3B8114008C5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
